[mysqld]
datadir=/data/mysql
socket=/tmp/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
#master配置binlog
#server-id=88
#log_bin=bangbang

#指定二进制日志记录的数据库
#binlog-do-db=snacks
#忽略二进制日志记录的数据库
#binlog-ignore-db=mysql


#slave配置
#server-id=89

###utf8mb4编码是utf8编码的超集，兼容utf8，并且能存储4字节的表情字符
###采用utf8mb4编码的好处是：存储与获取数据的时候，不用再考虑表情字符的编码与解码问题
character_set_server=utf8mb4
skip_name_resolve = 1
max_connections = 1500
###对于同一主机,如果有超出该参数值个数的中断错误连接，则该主机将被禁止连接。如需对该主机进行解禁，执行：FLUSH HOST
max_connect_errors = 10000
##数据库隔离级别
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
###MySQL在完成某些join 连接 需求的时候，为了减少参与join的被驱动表的读取次数以提高性能，需要使用到join buffer来协助完成join操作当join buffer 太小，MySQL不会将该buffer存入磁盘文件而是先将join buffer中的结果与需求join的表进行操作，然后清空join buffer中的数据，继续将剩余的结果集写入次buffer中
join_buffer_size = 134217728
tmp_table_size = 67108864
tmpdir = /tmp
###该值设置过小将导致单个记录超过限制后写入数据库失败 且后续记录写入也将失败
max_allowed_packet = 16777216
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
###mysql在关闭一个交互的连接之前所要等待的秒数
interactive_timeout = 8000
##mysql在关闭一个非交互的连接之前所要等待的秒数
wait_timeout = 28800
###MySQL读入缓冲区的大小
read_buffer_size = 16777216
###MySQL的随机读缓冲区大小
read_rnd_buffer_size = 33554432
###MySQL的顺序读缓冲区大小
sort_buffer_size = 33554432
##开启慢查询日志
slow_query_log = 1
slow_query_log_file = /data/mysql/mysql_slow.log
###表示记录下没有使用索引的查询
log_queries_not_using_indexes = 1
###记录管理语句
log_slow_admin_statements = 1
###开启复制从库复制的慢查询的日志
log_slow_slave_statements = 1
###设置每分钟增长的没有使用索引查询的日志数量
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 90
###超出次设定值的SQL即被记录到慢查询日志
long_query_time = 2
min_examined_row_limit = 100

#########innodb settings########
###这个参数在一开始初始化时就要加入my.cnf里，如果已经创建了表，再修改，启动MySQL会报错。最好为8K
innodb_page_size = 16384
###数据缓冲区buffer pool大小，建议使用物理内存的 75%
innodb_buffer_pool_size = 6G
###当buffer_pool的值较大的时候为1，较小的设置为8
innodb_buffer_pool_instances = 8
###运行时load缓冲池，快速预热缓冲池，将buffer pool的内容（文件页的索引）dump到文件中，然后快速load到buffer pool中。避免了数据库的预热过程，提高了应用访问的性能
innodb_buffer_pool_load_at_startup = 1
###运行时dump缓冲池
innodb_buffer_pool_dump_at_shutdown = 1
###在innodb中处理用户查询后，其结果在内存空间的缓冲池已经发生变化，但是还未记录到磁盘。这种页面称为脏页，将脏页记录到磁盘的过程称为刷脏
innodb_lru_scan_depth = 2000
###事务等待获取资源等待的最长时间，超过这个时间还未分配到资源则会返回应用失败，默认50s
innodb_lock_wait_timeout = 10
innodb_io_capacity = 4000
innodb_io_capacity_max = 8000
##innodb_flush_method = O_DIRECT
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
##日志组所在的路径，默认为data的home目录；
##innodb_log_group_home_dir = /data/mysql/logs/redolog/
##innodb_undo_directory = /data/mysql/logs/undolog/
###undo日志回滚段 默认为128
innodb_undo_logs = 128
innodb_undo_tablespaces = 0
###这个参数控制着innodb数据文件及redo log的打开、刷写模式，http://blog.csdn.net/gua___gua/article/details/44916207
###innodb_flush_method = O_DIRECT-不经过系统缓存直接存入磁盘，
###传统机械硬盘建议使用，而对于固态硬盘可以关闭
###innodb_flush_neighbors = 1
##innodb_log_file_size = 1G
##innodb_log_buffer_size = 16777216
###控制是否使用独立purge线程
innodb_purge_threads = 4
###改为ON时，允许单列索引最大达到3072。否则最大为767
innodb_large_prefix = 1
innodb_thread_concurrency = 64
###开启后会将所有的死锁记录到error_log中
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
innodb_sort_buffer_size = 67108864 



[mysqld_safe]
log-error=/data/mysql/mysql.log
pid-file=/data/mysql/mysql.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

