- name: initialize extension swoole
  shell: cd /usr/local/src/swoole-4.7.1 && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/swoole-4.7.1 ./configure --enable-openssl --enable-swoole-curl --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

- name: install extension bcmath
  shell: cd /usr/local/src/php-7.4.8/ext/bcmath && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/php-7.4.8/ext/bcmath ./configure --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

- name: install extension gd
  shell: cd /usr/local/src/php-7.4.8/ext/gd && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/php-7.4.8/ext/gd ./configure --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

- name: install extension zlib
  shell: cd /usr/local/src/php-7.4.8/ext/zlib && mv config0.m4 config.m4 && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/php-7.4.8/ext/zlib ./configure --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

- name: install extension pcntl
  shell: cd /usr/local/src/php-7.4.8/ext/pcntl && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/php-7.4.8/ext/pcntl ./configure --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

- name: install extension redis-5.3.1
  shell: cd /usr/local/src/redis-5.3.1 && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/redis-5.3.1 ./configure --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

- name: install extension imagick-3.4.4
  shell: cd /usr/local/src/imagick-3.4.4 && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/imagick-3.4.4 ./configure --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

#- name: install extension libzip
#  shell: cd /usr/local/src/libzip-1.7.3 && mkdir build && cd /usr/local/src/libzip-1.7.3/build  &&  cmake3 .. && make && make install

#- name: cp config
#  copy: src=ld.so.conf dest=/etc/ld.so.conf

- name: install extension zip
  shell: cd /usr/local/src/zip-1.18.1 && /usr/local/php-fpm/bin/phpize && chdir=/usr/local/src/zip-1.18.1 ./configure --with-php-config=/usr/local/php-fpm/bin/php-config && make && make install

- name: copy extension phpconf
  copy: src=php.ini dest=/usr/local/php-fpm/etc/php.ini 
